body {
  background-color: #9FF781;
}

.personCard,
.bordered {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid orange;
  text-align: center;
  background-color: #FFFF00;
}

.fancy {
  display: inline-block;
  width: 30%;

}

.bordered {
  border: 3px dotted purple;
}

img {
  max-height: 200px;
  margin: 5px;
}

.header {
  font-size: 1.1em;
  font-weight: 900;
}


/*  The nth-child parts are not working after the 'appendChild' refactor
/*  In order to make them work, I have to drill down further with the event target,
/*  which causes other problems I can't deal with right now */
.personCard:nth-child(2n) {
  background-color: skyblue;
}

.bordered:nth-child(2n) {
  border: 3px dotted purple;
  background-color: skyblue;
}






