.fancy,
.bordered {
  display: inline-block;
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 1px solid orange;
  text-align: center;
}

.fancy:nth-child(2n) {
  background-color: skyblue;
}

.fancy:nth-child(2n+1) {
  background-color: yellow;
}

.bordered {
  border: 3px dotted purple;
  background-color: yellow;
}

.bordered:nth-child(2n) {
  border: 3px dotted purple;
  background-color: skyblue;
}


img {
  max-height: 200px;
  margin: 5px;
}

.header {
  font-size: 1.1em;
  font-weight: 900;
}